body {
    margin: 0;
    background-color: black;
}

.media-control-center-panel > .bar-container {
    display: none !important;
}

.media-control-indicator:nth-of-type(2) {
    display: none !important;
}
